.env
build/
cache/
cache254/
cacheosrs/
cache245_2/
cachers2
cache.*/
.DS_Store
runelite
all_tiles.json
symbols.txt
build*/
public/cache/
.cache/
emsdk/
android/.idea/

package_build_*.zip
/package_build_winxp

debug.keystore
gradle.properties

lib/python*
.venve

*.out
*.dSYM
*.o

# Generated painters cullmap blobs (see tools/ci/gen_painters_cullmap)
src/osrs/revconfig/configs/cullmaps/*.bin