lib/mingw32-win32-toolchain.zip filter=lfs diff=lfs merge=lfs -text
lib/mingw64-win64-toolchain.zip filter=lfs diff=lfs merge=lfs -text
lib/osrs-stylizer-models.zip filter=lfs diff=lfs merge=lfs -text
